* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Quicksand';
    background: url("../img/unsplash-night.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding: 1em 10em;
    border: 3px solid red;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid purple;
}

h1 {
    font-size: 4.625rem;
}

nav ul {
    list-style-type: none;
    border: 1px solid blue;
    display: flex;
    margin-left: 1em;
}

nav ul li {
    margin-right: 1em;
}

main {
    border: 2px solid black;
    display: flex;
    width: 100%;
}

aside {
    border: 3px solid pink;
    width: 25%;
}

aside ul {
    list-style: none;
}

aside p {
    padding-block: .5em;
}

section {
    border: 3px solid green;
    width: 55%;
}